@charset "UTF-8";
/* CSS Document */


/* BODY */
body {background-color:#cccccc}

/* IMG */
a img {border: 0px}

a {color:666666; text-decoration: none;}


/* PARAGRAPH */
p {font-size:12px; margin-right: 50px} 
p {color:666666}
p {text-decoration: none;}


/* LINKS
a {color:333; text-decoration: none;}
a:hover {color:ffff33}
a:visited {color:333}  
a:active {color:000000}  */

#maincontent
{
margin-left: auto;
margin-right: auto;
width: 950px; 
height: 1600px;
background-color:#fff;
margin-top: -22px;
}

#masthead
{
width: 950px; 
height: 70px;
background-color:#fff;
text-align: left;
padding-top: 30px;
}

#masthead li
{
color: #FFFFFF;
text-decoration: none;
display: inline;
font-size: 12px;
}

#logo
{
float: left;
}

#topnav
{
float: left;
height: 20px;
width: 600px;
margin-top:32px;
}


#topnav li
{
padding-right: 12px;
}

#topnav a
{
color: #333;
}

#topnav a:hover
{
color: #444;
}


#topnav a:visited
{
color: #333;
}

#topnav a:active
{
color: #999999;
text-decoration: none;
}

#topnav span.current 
{
font-weight: bold;
color: #FF9933;
}

#secondnav
{
float: right;
height: 20px;
width: 200px;
padding-top: 10px;
}


#secondnav li
{
margin-left: 11px;
}

#secondnav li
{
text-decoration: none;
}

#secondnav a
{
color: #333;
}

#secondnav a:hover
{
color: #444;
}

#secondnav a:visited
{
color: #333;
}

#secondnav a:active
{
color: #999999;
text-decoration: none;
}

#secondnav span.current 
{
font-weight: bold;
color: #FF9933;
}

#maincontent li
{
padding-right: 12px;
}

#maincontent a
{
color: #333;
}

#maincontent a:hover
{
color: #444;
}


#maincontent a:visited
{
color: #333;
}

#maincontent a:active
{
color: #999999;
text-decoration: none;
}

#trim
{
width: 950px; 
height: 2px;
background-color:#FF9933;
}

#left
{
width: 200px; 
height: 1000px;
overflow: auto;
padding-top: 30px;
padding-left: 10px;
background-color: #fff;
float: left;
}

#maincontent #right
{
background: red;
width: 675px; 
height: 1150;
padding-top: 20px; 
padding-right: 20px; 
background-color:#FFF;
float: right;
text-allign: left; 
}

#boiler
{
width: 900px; 
height: 20px;
background-color:#CCC;
text-align: right;
margin-left: auto;
margin-right: auto;
}